<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script>a:hover {
    color:#1661ab
}
.copyright{
    color: #1661ab;
}
.live_time{
    display: inline-block;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: black;
}
